<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burger</title>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />
	<script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	{{{ body }}}
</body>
</html>


<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit-icons.min.js"></script>

<script>
	// Make sure we wait to attach our handlers until the DOM is fully loaded.
$(() => {
    $(".change-devour").on("click", function () {
      const id = $(this).data("id");
      const newDevour = $(this).data("devoured");
  
      const newDevourState = { value: newDevour };
  
      // Send the PUT request.
      $.ajax(`/api/burgers/${id}/devoured`, {
        type: "PUT",
        // Convert object to JSON
        data: JSON.stringify(newDevourState),
        // Tell the server that this request contains JSON
        contentType: "application/json; charset=UTF-8",
      }).then(() => {
        // Reload the page to get the updated list
        location.reload();
      });
    });
  
    $(".create-form").on("submit", (event) => {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      const newBurger = {
        burger_name: $("#ca").val().trim(),
        devoured: false,
      };
  
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger,
      }).then(() => {
        // Reload the page to get the updated list
        location.reload();
      });
    });
  
  
  });
</script>
