<div id = "name"><h1>Burger Devour</h1></div>
<div class="uk-grid-row-large uk-align-center uk-child-width-1-2@s uk-text-center">
       <div class="uk-container">
      <div class="uk-child-width-expand@s uk-grid-match" uk-grid>


<div>
<div class="uk-card uk-card-default uk-box-shadow-xlarge" id = "burgers">
    <h3 class="uk-card-title" id= "name">Ordered</h3>
   <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>
</div>
</div>
</div>
<br>
<div class="uk-grid-row-large uk-align-center uk-child-width-1-3@s uk-text-center"></div>
<div>
<div class="uk-card uk-card-default uk-box-shadow-xlarge "id = "add">
    <h3 class="uk-card-title"id= "name">Order up!</h3>
<form class="create-form">

    <div class="form-group">
        <label for="ca"></label>
        <input type="text" id="ca" name="burger_name" placeholder="Enter Your Burger Here">
    </div>

    <button class="submit" type="submit">Add Burger</button>
</form>

</div>
</div>
<div class="uk-grid-row-large uk-align-center uk-child-width-1-3@s uk-text-center"></div>
<br>
<div class = "bg">
<div class="uk-card uk-card-default uk-box-shadow-xlarge"id = "burgers">
    <h3 class="uk-card-title"id= "name">Devoured</h3>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>
</div>
</div>
</div>
</div>