<li>
	{{burger_name}}
        <button class="change-devour" data-id="{{id}}"
            data-devoured="{{devoured}}">
            {{#if devoured}}Order Again!{{else}}DEVOUR!{{/if}}
        </button>
</li>



